/* Custom CSS */

/* HEADER */
.f-menu > li > a {
  background-color: #2774C0 !important;
  color: white;
  font-weight: bold;
}

.f-menu > li > a:hover {
  background-color: white !important;
  color: #2774C0;
}

.set-border-strong {
      border: 1px #ffffff solid;
}



/* ************************************ */

.bg-fun{
background: #2774C0 !important;
}

.box{
  background: #2267AB !important;
  height: 160px;
  color: white;

}

.box-servicios{
  background: #2267AB !important;
  height: 120px;
  color: white;

}



/* ************************************ */

.padding-top-10{
  padding-top: 10px;

}
.padding-top-20{
  padding-top: 20px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-top-40{
  padding-top: 40px;
}

.bold{
  font-weight: bold;
}

.center {
    text-align: center;
}

/*.panel:hover {
    border: 6px solid #fff;
    box-shadow: 0 0 17px rgba(0,0,0,0.30);
}*/
