/* Custom CSS */

/* HEADER */
.f-menu > li > a {
  background-color: #00aff0 !important;
  color: white;
  font-weight: bold;
} 

.f-menu > li > a:hover {
  background-color: white !important;
  color: #00aff0;
} 

.set-border-strong {
      border: 1px #ffffff solid;
}



/* ************************************ */